* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



/*---------BODY--------*/
.body {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;

}

.btnAdd{
    background-color: #000000;
    border-color: white;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .btnAdd:hover{
    background-color: #ffffff;
    border-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .btnSave{
    background-color: #000000;
    border-color: white;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .btnSave:hover{

    background-color: #ffffff;
    border-color: black;
    color: rgb(0, 0, 0);
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;

  }




.title {
    font-family: 'Franklin Gothic Book';
    padding-top: 25px;
    padding-bottom: 50px;
    text-decoration: underline;
    text-align: center;
}

.col-1 img:hover{
     box-shadow:0 0 10px;
 }
 .small-container{
     border-block-end:ridge;
 }



 .fullprice{
     text-decoration:line-through;
 }
 .saleprice{
     color:red;
     font-weight: bold;
 }



