* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}




/*---------BODY--------*/
.body {
    max-width: 1300px;
    margin: auto;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 35px;
}

.small-container cart page{
    margin: 80px auto;
}

table{
    width: 100%;
    border-collapse:collapse;
}
a.cart{
    color:black;
}
a.cart:hover{
    color:blue;
    text-decoration:underline;
}
.cart-info{
    display:flex;
    flex-wrap:wrap;
}
th{
    font-family:'Californian FB';
    text-align: left;
    padding:5px;
    color:white;
    background-color:black;
    font-weight:bolder;
}
td{
    padding: 10px 5px
}
td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
td a{
    color:black;
    font-size: 12px;
}
td img{
    width:125px;
    height: 125px;
    margin-right: 10px;
}
.total-price{
    display:flex;
    justify-content:flex-end;
}
.total-price table{
    border-top:3px solid black;
    width: 100%;
    max-width:350px;
}
td:last-child{
    text-align:right;
}
th:last-child{
    text-align:right;
}

 .btnRemove{
    background-color: #530505;
    border-color: white;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .btnRemove:hover{
    background-color: white;
    border-color: #530505;
    color: #530505;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  .btnAdd{
    background-color: #000000;
    border-color: white;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .btnAdd:hover{
    background-color: #ffffff;
    border-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .btnSave{
    background-color: #000000;
    border-color: white;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .btnSave:hover{

    background-color: #ffffff;
    border-color: black;
    color: rgb(0, 0, 0);
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;

  }





/*--------FOOTER--------*/
.footer {
    background: #000000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}

#foot-link {
    color: #8a8a8a;
}

    #foot-link.hover {
        color: #000000;
    }


.footer h3 {
    color: #fff;
    margin-bottom: 20px;
}

.footer-col-1, footer-col-2, footer-col-3, footer-col-4 {
    min-width: 400px;
    margin-bottom: 20px;
}

.footer-col-1 {
    flex-basis: 30%;
    text-align: center;
}

    .footer-col-1 img {
        width: 180px;
        height: 100px;
        margin-bottom: 20px;
        .footer-col-2

{
    flex: 1;
    text-align: center;
}

.footer-col-2 img {
    width: 180px;
    margin-bottom: 20px;
    text-align: center;
}

.footer-col-3 {
    margin-right: 5px;
}
    }